@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua x<br />
    Lisboa, LX 1985-187<br />
    <abbr title="Phone">P:</abbr>
    +351 777 888 999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lpascoa@gmail.com">lpascoa@gmail.com</a><br />
</address>