@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Aplicação de Teste</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aplicação de Teste</h2>
        <p>
            Aplicação de teste para avaliação de conhecimento.
        </p>
    </div>
</div>